.board {
  display: grid;
  width: calc(var(--cellsize) * var(--cells));
  height: calc(var(--cellsize) * var(--cells));
  outline: 1px solid;
  grid-template-columns: repeat(var(--cells), 1fr);
}

.board .cell {
  border-left: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}

.board .cell:hover {
  background-color: #eee;
}

.board .cell.active {
  background-color: #ddd;
}
.board.error .cell:hover {
  background-color: var(--error);
}
.board .cell.active:hover {
  cursor: pointer;
}

.board .cell.boat {
  background-color: #aaa;
}
